.ie8 .admin-menu-control {
    width: 235px;
    float: left;
    position: relative;
    margin-right: -100%;
}

.admin-menu-control.navbar-collapse,.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover.navbar-collapse {
    padding: 0;
    box-shadow: none;
}

.admin-menu-control .admin-menu-control-menu,.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    /* 1st level links */
    /* all links */
}

.admin-menu-control .admin-menu-control-menu > li,.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu > li {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
}

.admin-menu-control .admin-menu-control-menu > li.sidebar-toggler-wrapper,.admin-menu-control .admin-menu-control-menu > li.sidebar-search-wrapper,.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu > li.sidebar-toggler-wrapper,.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu > li.sidebar-search-wrapper {
    border: 0 !important;
}

.admin-menu-control .admin-menu-control-menu > li.sidebar-toggler-wrapper:before,.admin-menu-control .admin-menu-control-menu > li.sidebar-toggler-wrapper:after,.admin-menu-control .admin-menu-control-menu > li.sidebar-search-wrapper:before,.admin-menu-control .admin-menu-control-menu > li.sidebar-search-wrapper:after,.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu > li.sidebar-toggler-wrapper:before,.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu > li.sidebar-toggler-wrapper:after,.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu > li.sidebar-search-wrapper:before,.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu > li.sidebar-search-wrapper:after {
    content: " ";
    display: table;
}

.admin-menu-control .admin-menu-control-menu > li.sidebar-toggler-wrapper:after,.admin-menu-control .admin-menu-control-menu > li.sidebar-search-wrapper:after,.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu > li.sidebar-toggler-wrapper:after,.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu > li.sidebar-search-wrapper:after {
    clear: both;
}

.admin-menu-control .admin-menu-control-menu > li.start > a,.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu > li.start > a {
    border-top-color: transparent !important;
}

.admin-menu-control .admin-menu-control-menu > li.last > a,.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu > li.last > a {
    border-bottom-color: transparent !important;
}

.admin-menu-control .admin-menu-control-menu > li > a,.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu > li > a {
    display: block;
    position: relative;
    margin: 0;
    border: 0;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
}

.admin-menu-control .admin-menu-control-menu > li > a > i,.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu > li > a > i {
    font-size: 16px;
    margin-right: 5px;
    text-shadow: none;
}

.admin-menu-control .admin-menu-control-menu > li > a > i.glyphicon,.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu > li > a > i.glyphicon {
    top: 3px;
    margin-left: 1px;
    margin-right: 4px;
}

.admin-menu-control .admin-menu-control-menu > li > a > [class^="icon-"],.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu > li > a > [class^="icon-"] {
    top: 2px;
    margin-left: 1px;
    margin-right: 4px;
}

.admin-menu-control-fixed .admin-menu-control .admin-menu-control-menu > li > a,.admin-menu-control-fixed
.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu > li > a {
    transition: all .2s ease;
}

.admin-menu-control-reversed.admin-menu-control-fixed .admin-menu-control .admin-menu-control-menu > li > a,.admin-menu-control-reversed.admin-menu-control-fixed
.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu > li > a {
    transition: none;
}

.admin-menu-control .admin-menu-control-menu > li.heading,.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu > li.heading {
    padding: 15px;
}

.admin-menu-control .admin-menu-control-menu > li.heading > h3,.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu > li.heading > h3 {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 300;
}

.admin-menu-control .admin-menu-control-menu > li.heading + li > a,.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu > li.heading + li > a {
    border-top: 0;
}

.admin-menu-control .admin-menu-control-menu > li.open > a,.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu > li.open > a {
    font-size: 14px;
}

.admin-menu-control .admin-menu-control-menu > li.active > a,.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu > li.active > a {
    border: none;
    text-shadow: none;
    font-size: 14px;
}

.admin-menu-control .admin-menu-control-menu > li.active > a > .selected,.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu > li.active > a > .selected {
    display: block;
    background-image: none;
    /* will be set in a theme css file*/
    float: right;
    position: absolute;
    right: 0;
    top: 8px;
    background: none;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-right: 12px solid #fff;
}

.admin-menu-control-reversed .admin-menu-control .admin-menu-control-menu > li.active > a > .selected,.admin-menu-control-reversed
.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu > li.active > a > .selected {
    right: auto;
    left: 0;
    border-right: 0;
    border-left: 8px solid #fff;
}

.page-container-bg-solid .admin-menu-control .admin-menu-control-menu > li.active > a > .selected,.page-container-bg-solid
.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu > li.active > a > .selected {
    border-color: transparent #f1f3fa transparent transparent;
}

.page-container-bg-solid.admin-menu-control-reversed .admin-menu-control .admin-menu-control-menu > li.active > a > .selected,.page-container-bg-solid.admin-menu-control-reversed
.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu > li.active > a > .selected {
    border-color: transparent transparent transparent #f1f3fa;
}

.admin-menu-control .admin-menu-control-menu li > a > .arrow:before,.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu li > a > .arrow:before {
    float: right;
    width: 10px;
    text-align: center;
    margin-top: -1px;
    margin-right: 5px;
    margin-left: 5px;
    display: inline;
    font-size: 16px;
    font-family: Simple-Line-Icons;
    height: auto;
    content: "\e07b";
    font-weight: 300;
    text-shadow: none;
}



.admin-menu-control .admin-menu-control-menu li > a > .arrow.open:before,.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu li > a > .arrow.open:before {
    content: url(../images/arrow.png);
    /*    content: "\f107";*/
}




.admin-menu-control .admin-menu-control-menu li > a > .badge,.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu li > a > .badge {
    float: right;
    margin-top: 1px;
    margin-right: 0;
}

.admin-menu-control .admin-menu-control-menu .sub-menu,.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu .sub-menu {
    list-style: none;
    display: none;
    padding: 0;
    margin: 8px 0;
}

.admin-menu-control .admin-menu-control-menu .sub-menu li,.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu .sub-menu li {
    background: none;
    margin: 0;
    padding: 0;
    margin-top: 1px !important;
    /* 2nd level sub menu */
}

.admin-menu-control .admin-menu-control-menu .sub-menu li > a,.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu .sub-menu li > a {
    display: block;
    margin: 0;
    padding: 6px 15px 6px 43px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    background: none;
}

.admin-menu-control .admin-menu-control-menu .sub-menu li > a > i,.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu .sub-menu li > a > i {
    font-size: 14px;
}

.admin-menu-control .admin-menu-control-menu .sub-menu li > .sub-menu,.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu .sub-menu li > .sub-menu {
    margin: 0;
}

.admin-menu-control .admin-menu-control-menu .sub-menu li > .sub-menu > li,.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu .sub-menu li > .sub-menu > li {
    /* 3rd level sub menu */
}

.admin-menu-control .admin-menu-control-menu .sub-menu li > .sub-menu > li > a,.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu .sub-menu li > .sub-menu > li > a {
    padding-left: 60px;
}

.admin-menu-control .admin-menu-control-menu .sub-menu li > .sub-menu > li > .sub-menu,.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu .sub-menu li > .sub-menu > li > .sub-menu {
    margin: 0;
}

.admin-menu-control .admin-menu-control-menu .sub-menu li > .sub-menu > li > .sub-menu > li > a,.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu .sub-menu li > .sub-menu > li > .sub-menu > li > a {
    padding-left: 80px;
}

.admin-menu-control .admin-menu-control-menu li.active > .sub-menu,.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu li.active > .sub-menu {
    display: block;
}

.admin-menu-control .admin-menu-control-menu.admin-menu-control-menu-light > li > a,.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu.admin-menu-control-menu-light > li > a {
    border: 0;
    margin: 0;
    padding-left: 11px;
    border-left: 4px solid transparent;
}

.admin-menu-control .admin-menu-control-menu.admin-menu-control-menu-light > li .sub-menu,.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu.admin-menu-control-menu-light > li .sub-menu {
    margin: 0;
    padding: 1px 0;
}

.admin-menu-control .admin-menu-control-menu.admin-menu-control-menu-light > li .sub-menu li > a,.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu.admin-menu-control-menu-light > li .sub-menu li > a {
    padding-top: 8px;
    padding-bottom: 8px;
}

.admin-menu-control .admin-menu-control-menu.admin-menu-control-menu-light > li .sub-menu li:first-child,.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu.admin-menu-control-menu-light > li .sub-menu li:first-child {
    margin-top: 0 !important;
}

.admin-menu-control-reversed .admin-menu-control .admin-menu-control-menu.admin-menu-control-menu-light > li > a,.admin-menu-control-reversed
.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu.admin-menu-control-menu-light > li > a {
    padding-left: 15px;
    padding-right: 11px;
    border-left: 0;
    border-right: 4px solid transparent;
}

.admin-menu-control .sidebar-toggler,.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .sidebar-toggler {
    display: block;
    cursor: pointer;
    opacity: .7;
    filter: alpha(opacity=70);
    width: 30px;
    height: 27px;
    margin-top: 15px;
    margin-right: 19px;
    float: right;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

.admin-menu-control .sidebar-toggler:hover,.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .sidebar-toggler:hover {
    filter: alpha(opacity=100);
    opacity: 1;
}

.admin-menu-control .sidebar-search,.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .sidebar-search {
    padding: 0;
    margin: 22px 18px;
}

.admin-menu-control .sidebar-search .remove,.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .sidebar-search .remove {
    display: none;
}

.admin-menu-control .sidebar-search .remove > i,.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .sidebar-search .remove > i {
    font-size: 16px;
}

.admin-menu-control .sidebar-search .input-group,.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .sidebar-search .input-group {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

.admin-menu-control .sidebar-search .input-group .form-control,.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .sidebar-search .input-group .form-control {
    border: 0;
    font-size: 14px;
    padding: 0;
    height: auto;
    line-height: auto;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

.admin-menu-control .sidebar-search .input-group .input-group-btn .btn,.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .sidebar-search .input-group .input-group-btn .btn {
    padding: 2px 0 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 100% 3px;
}

.admin-menu-control .sidebar-search .input-group .input-group-btn .btn > i,.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .sidebar-search .input-group .input-group-btn .btn > i {
    font-size: 15px;
}

.admin-menu-control .sidebar-search.sidebar-search-bordered,.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .sidebar-search.sidebar-search-bordered {
    margin: 25px 18px;
}

.admin-menu-control .sidebar-search.sidebar-search-bordered .input-group .form-control,.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .sidebar-search.sidebar-search-bordered .input-group .form-control {
    font-size: 13px;
    padding: 6px 8px;
}

.admin-menu-control .sidebar-search.sidebar-search-bordered .input-group .input-group-btn .btn,.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .sidebar-search.sidebar-search-bordered .input-group .input-group-btn .btn {
    margin-right: 6px;
}


/* Page sidebar */
.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover,.admin-menu-control {
    background-color: #4276a4;
    /* Default sidebar */
    /* light sidebar */
    /* Sidebar search */
}

.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu,.admin-menu-control .admin-menu-control-menu {
    /* 1st level links */
    /* All links */
}

.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu > li > a,.admin-menu-control .admin-menu-control-menu > li > a {
    border-top: 1px solid #4a83b6;
    color: #c9dff5;
}

.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu > li > a > i,.admin-menu-control .admin-menu-control-menu > li > a > i {
    color: #8eb8de;
}

.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu > li > a > i[class^="icon-"],.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu > li > a > i[class*="icon-"],.admin-menu-control .admin-menu-control-menu > li > a > i[class^="icon-"],.admin-menu-control .admin-menu-control-menu > li > a > i[class*="icon-"] {
    color: #a2c4e4;
}

.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu > li > a > .arrow:before,.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu > li > a > .arrow.open:before,.admin-menu-control .admin-menu-control-menu > li > a > .arrow:before,.admin-menu-control .admin-menu-control-menu > li > a > .arrow.open:before {
    color: #8eb8de;
}

.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu > li.heading > h3,.admin-menu-control .admin-menu-control-menu > li.heading > h3 {
    color: #66a4e3;
}

.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu > li:hover > a,.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu > li.open > a,.admin-menu-control .admin-menu-control-menu > li:hover > a,.admin-menu-control .admin-menu-control-menu > li.open > a {
    background: #497fae;
    color: #c9dff5;
}

.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu > li:hover > a > i,.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu > li.open > a > i,.admin-menu-control .admin-menu-control-menu > li:hover > a > i,.admin-menu-control .admin-menu-control-menu > li.open > a > i {
    color: #d2e6f9;
}

.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu > li:hover > a > .arrow:before,.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu > li:hover > a > .arrow.open:before,.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu > li.open > a > .arrow:before,.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu > li.open > a > .arrow.open:before,.admin-menu-control .admin-menu-control-menu > li:hover > a > .arrow:before,.admin-menu-control .admin-menu-control-menu > li:hover > a > .arrow.open:before,.admin-menu-control .admin-menu-control-menu > li.open > a > .arrow:before,.admin-menu-control .admin-menu-control-menu > li.open > a > .arrow.open:before {
    color: #d2e6f9;
}

.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu > li.active > a,.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu > li.active.open > a,.admin-menu-control .admin-menu-control-menu > li.active > a,.admin-menu-control .admin-menu-control-menu > li.active.open > a {
    background: #d64635;
    border-top-color: transparent;
    color: #fff;
}

.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu > li.active > a:hover,.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu > li.active.open > a:hover,.admin-menu-control .admin-menu-control-menu > li.active > a:hover,.admin-menu-control .admin-menu-control-menu > li.active.open > a:hover {
    background: #d64635;
}

.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu > li.active > a > i,.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu > li.active.open > a > i,.admin-menu-control .admin-menu-control-menu > li.active > a > i,.admin-menu-control .admin-menu-control-menu > li.active.open > a > i {
    color: #fff;
}

.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu > li.active > a > .arrow:before,.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu > li.active > a > .arrow.open:before,.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu > li.active.open > a > .arrow:before,.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu > li.active.open > a > .arrow.open:before,.admin-menu-control .admin-menu-control-menu > li.active > a > .arrow:before,.admin-menu-control .admin-menu-control-menu > li.active > a > .arrow.open:before,.admin-menu-control .admin-menu-control-menu > li.active.open > a > .arrow:before,.admin-menu-control .admin-menu-control-menu > li.active.open > a > .arrow.open:before {
    color: #fff;
}

.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu > li.active + li > a,.admin-menu-control .admin-menu-control-menu > li.active + li > a {
    border-top-color: transparent;
}

.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu > li.active.open + li > a,.admin-menu-control .admin-menu-control-menu > li.active.open + li > a {
    border-top-color: #4a83b6;
}

.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu > li:last-child > a,.admin-menu-control .admin-menu-control-menu > li:last-child > a {
    border-bottom: 1px solid transparent !important;
}

.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu li > a > .arrow:before,.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu li > a > .arrow.open:before,.admin-menu-control .admin-menu-control-menu li > a > .arrow:before,.admin-menu-control .admin-menu-control-menu li > a > .arrow.open:before {
    color: #8eb8de;
}

.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu li:hover > a > .arrow:before,.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu li:hover > a > .arrow.open:before,.admin-menu-control .admin-menu-control-menu li:hover > a > .arrow:before,.admin-menu-control .admin-menu-control-menu li:hover > a > .arrow.open:before {
    color: #d2e6f9;
}

.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu li.active > a > .arrow:before,.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu li.active > a > .arrow.open:before,.admin-menu-control .admin-menu-control-menu li.active > a > .arrow:before,.admin-menu-control .admin-menu-control-menu li.active > a > .arrow.open:before {
    color: #fff;
}

.admin-menu-control-closed .admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu:hover .sub-menu,.admin-menu-control-closed
.admin-menu-control .admin-menu-control-menu:hover .sub-menu {
    background-color: #4276a4;
}

.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu .sub-menu > li > a,.admin-menu-control .admin-menu-control-menu .sub-menu > li > a {
    color: #c9dff5;
}

.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu .sub-menu > li > a > i,.admin-menu-control .admin-menu-control-menu .sub-menu > li > a > i {
    color: #8eb8de;
}

.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu .sub-menu > li > a > i[class^="icon-"],.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu .sub-menu > li > a > i[class*="icon-"],.admin-menu-control .admin-menu-control-menu .sub-menu > li > a > i[class^="icon-"],.admin-menu-control .admin-menu-control-menu .sub-menu > li > a > i[class*="icon-"] {
    color: #a2c4e4;
}

.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu .sub-menu > li > a > .arrow:before,.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu .sub-menu > li > a > .arrow.open:before,.admin-menu-control .admin-menu-control-menu .sub-menu > li > a > .arrow:before,.admin-menu-control .admin-menu-control-menu .sub-menu > li > a > .arrow.open:before {
    color: #8eb8de;
}

.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu .sub-menu > li:hover > a,.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu .sub-menu > li.open > a,.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu .sub-menu > li.active > a,.admin-menu-control .admin-menu-control-menu .sub-menu > li:hover > a,.admin-menu-control .admin-menu-control-menu .sub-menu > li.open > a,.admin-menu-control .admin-menu-control-menu .sub-menu > li.active > a {
    background: #397fae !important;
}

.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu .sub-menu > li:hover > a > i,.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu .sub-menu > li.open > a > i,.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu .sub-menu > li.active > a > i,.admin-menu-control .admin-menu-control-menu .sub-menu > li:hover > a > i,.admin-menu-control .admin-menu-control-menu .sub-menu > li.open > a > i,.admin-menu-control .admin-menu-control-menu .sub-menu > li.active > a > i {
    color: #d2e6f9;
    color: #ddeaf5;
}

.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu .sub-menu > li:hover > a > .arrow:before,.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu .sub-menu > li:hover > a > .arrow.open:before,.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu .sub-menu > li.open > a > .arrow:before,.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu .sub-menu > li.open > a > .arrow.open:before,.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu .sub-menu > li.active > a > .arrow:before,.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu .sub-menu > li.active > a > .arrow.open:before,.admin-menu-control .admin-menu-control-menu .sub-menu > li:hover > a > .arrow:before,.admin-menu-control .admin-menu-control-menu .sub-menu > li:hover > a > .arrow.open:before,.admin-menu-control .admin-menu-control-menu .sub-menu > li.open > a > .arrow:before,.admin-menu-control .admin-menu-control-menu .sub-menu > li.open > a > .arrow.open:before,.admin-menu-control .admin-menu-control-menu .sub-menu > li.active > a > .arrow:before,.admin-menu-control .admin-menu-control-menu .sub-menu > li.active > a > .arrow.open:before {
    color: #d2e6f9;
}

.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu.admin-menu-control-menu-light,.admin-menu-control .admin-menu-control-menu.admin-menu-control-menu-light {
    /* 1st level links */
}

.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu.admin-menu-control-menu-light > li:hover > a,.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu.admin-menu-control-menu-light > li.open > a,.admin-menu-control .admin-menu-control-menu.admin-menu-control-menu-light > li:hover > a,.admin-menu-control .admin-menu-control-menu.admin-menu-control-menu-light > li.open > a {
    background: #3c6c95;
}

.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu.admin-menu-control-menu-light > li.active > a,.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu.admin-menu-control-menu-light > li.active.open > a,.admin-menu-control .admin-menu-control-menu.admin-menu-control-menu-light > li.active > a,.admin-menu-control .admin-menu-control-menu.admin-menu-control-menu-light > li.active.open > a {
    background: #38648b;
    border-left: 4px solid #d64635;
    color: #f1f1f1;
}

.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu.admin-menu-control-menu-light > li.active > a:hover,.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu.admin-menu-control-menu-light > li.active.open > a:hover,.admin-menu-control .admin-menu-control-menu.admin-menu-control-menu-light > li.active > a:hover,.admin-menu-control .admin-menu-control-menu.admin-menu-control-menu-light > li.active.open > a:hover {
    border-left: 4px solid #d64635;
    background: #3c6c95;
}

.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu.admin-menu-control-menu-light > li.active > a > i,.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu.admin-menu-control-menu-light > li.active.open > a > i,.admin-menu-control .admin-menu-control-menu.admin-menu-control-menu-light > li.active > a > i,.admin-menu-control .admin-menu-control-menu.admin-menu-control-menu-light > li.active.open > a > i {
    color: #eee;
}

.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu.admin-menu-control-menu-light > li.active > a > .arrow:before,.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu.admin-menu-control-menu-light > li.active > a > .arrow.open:before,.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu.admin-menu-control-menu-light > li.active.open > a > .arrow:before,.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu.admin-menu-control-menu-light > li.active.open > a > .arrow.open:before,.admin-menu-control .admin-menu-control-menu.admin-menu-control-menu-light > li.active > a > .arrow:before,.admin-menu-control .admin-menu-control-menu.admin-menu-control-menu-light > li.active > a > .arrow.open:before,.admin-menu-control .admin-menu-control-menu.admin-menu-control-menu-light > li.active.open > a > .arrow:before,.admin-menu-control .admin-menu-control-menu.admin-menu-control-menu-light > li.active.open > a > .arrow.open:before {
    color: #eee;
}

.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu.admin-menu-control-menu-light > li .sub-menu,.admin-menu-control .admin-menu-control-menu.admin-menu-control-menu-light > li .sub-menu {
    background: #467eaf;
}

.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu.admin-menu-control-menu-light > li .sub-menu > li:hover > a,.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu.admin-menu-control-menu-light > li .sub-menu > li.open > a,.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .admin-menu-control-menu.admin-menu-control-menu-light > li .sub-menu > li.active > a,.admin-menu-control .admin-menu-control-menu.admin-menu-control-menu-light > li .sub-menu > li:hover > a,.admin-menu-control .admin-menu-control-menu.admin-menu-control-menu-light > li .sub-menu > li.open > a,.admin-menu-control .admin-menu-control-menu.admin-menu-control-menu-light > li .sub-menu > li.active > a {
    background: #3c6c95 !important;
}

.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .sidebar-toggler,.admin-menu-control .sidebar-toggler {
    background: url(../images/sidebar_inline_toggler_icon_blue.png);
}

.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .sidebar-search .input-group,.admin-menu-control .sidebar-search .input-group {
    border-bottom: 1px solid #548bba;
}

.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .sidebar-search .input-group .form-control,.admin-menu-control .sidebar-search .input-group .form-control {
    background-color: #4276a4;
    color: #6e9cc5;
}

.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .sidebar-search .input-group .form-control::-moz-placeholder,.admin-menu-control .sidebar-search .input-group .form-control::-moz-placeholder {
    color: #6e9cc5;
    opacity: 1;
}

.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .sidebar-search .input-group .form-control:-ms-input-placeholder,.admin-menu-control .sidebar-search .input-group .form-control:-ms-input-placeholder {
    color: #6e9cc5;
}

.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .sidebar-search .input-group .form-control::-webkit-input-placeholder,.admin-menu-control .sidebar-search .input-group .form-control::-webkit-input-placeholder {
    color: #6e9cc5;
}

.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .sidebar-search .input-group .input-group-btn .btn > i,.admin-menu-control .sidebar-search .input-group .input-group-btn .btn > i {
    color: #6e9cc5;
}

.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .sidebar-search.sidebar-search-bordered .input-group,.admin-menu-control .sidebar-search.sidebar-search-bordered .input-group {
    border: 1px solid #548bba;
}

.admin-menu-control-closed .admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .sidebar-search.open .input-group,.admin-menu-control-closed
.admin-menu-control .sidebar-search.open .input-group {
    background-color: #4276a4;
}

.admin-menu-control-closed .admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .sidebar-search.open .remove > i,.admin-menu-control-closed
.admin-menu-control .sidebar-search.open .remove > i {
    color: #6e9cc5;
}

.admin-menu-control-closed .admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .sidebar-search.sidebar-search-solid .input-group,.admin-menu-control-closed
.admin-menu-control .sidebar-search.sidebar-search-solid .input-group {
    background: none;
}

.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .sidebar-search.sidebar-search-solid .input-group,.admin-menu-control .sidebar-search.sidebar-search-solid .input-group {
    border: 1px solid #3b6992;
    background: #3b6992;
}

.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .sidebar-search.sidebar-search-solid .input-group .form-control,.admin-menu-control .sidebar-search.sidebar-search-solid .input-group .form-control {
    background: #3b6992;
}

.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .sidebar-search.sidebar-search-solid.open .input-group,.admin-menu-control .sidebar-search.sidebar-search-solid.open .input-group {
    border: 1px solid #4276a4;
    background: #4276a4;
}

.admin-menu-control-closed.admin-menu-control-fixed .admin-menu-control:hover .sidebar-search.sidebar-search-solid.open .input-group .form-control,.admin-menu-control .sidebar-search.sidebar-search-solid.open .input-group .form-control {
    background: #4276a4;
}

.admin-menu-control-reversed .admin-menu-control-menu.admin-menu-control-menu-light {
    /* 1st level links */
}

.admin-menu-control-reversed .admin-menu-control-menu.admin-menu-control-menu-light > li.active > a,.admin-menu-control-reversed .admin-menu-control-menu.admin-menu-control-menu-light > li.active.open > a {
    border-left: 0;
    border-right: 4px solid #d64635;
}

.admin-menu-control-reversed .admin-menu-control-menu.admin-menu-control-menu-light > li.active > a:hover,.admin-menu-control-reversed .admin-menu-control-menu.admin-menu-control-menu-light > li.active.open > a:hover {
    border-left: 0;
    border-right: 4px solid #d64635;
}