body div, img, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
    background: transparent;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

input {
    vertical-align: middle;
}

input[type="radio"] {
    vertical-align: text-bottom;
}

.ie6 input {
    vertical-align: text-bottom;
}

input {
    font: 99% sans-serif;
}

img {
    vertical-align: top;
} 

input {
    margin: 0;
}

.ie7 img {
    -ms-interpolation-mode: bicubic;
}

input:-moz-placeholder {
    color: #a9a9a9;
}

input {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 10px;
    border: 1px solid #E9E9E9;
    background-color: #FBFBFB;
    transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
    -webkit-transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
    -moz-transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
    -o-transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
}

input:focus {
    border-color: #6A3005;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(0, 0, 0, 0.6);
    outline: 0 none;
    background-color: #fff;
}

input[type="radio"] {
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    padding: 0px;
}

input::-webkit-input-placeholder {
    color: #a1b2c3;
}

input:-moz-placeholder {
    color: #a1b2c3;
}

.panel {
    margin-bottom: 1px;
    float: left;
    width: 100%;
}

.panelcontent {
    padding: 0px 5px 0px 0px;
    float: left;
    width: 100%;
}

.ty {
    margin-top: 10px;
}

.panel ul li {
    margin-right: 5%;
    border: solid 1px #ccc;
    border-radius: 3px;
    float: left;
    width: 28%;
    text-align: center;
    padding: 7px 2px;
}

.selectarea {
    float: left;
    width: 31px;
    line-height: 0px;
}

.operator .selectarea {
    line-height: 40px;
}

.panel.operator ul li {
    margin-bottom: 5px;
    width: 141px;
    margin-right: 2%;
    background-image: url(../images/select-arrow.png);
    background-repeat: no-repeat;
    background-position: left center;
}

.ammount ul li {
    margin-bottom: 5px;
    width: 141px;
    font-size: 17px;
    margin-right: 5%;
    background-image: url(../images/select-arrow.png);
    background-repeat: no-repeat;
    background-position: left center;
}

.panelcontent > .rate-list li {
    margin-right: 2%;
}

.panelcontent ul li .selectarea input {
    margin-top: 6px;
    margin-left: -8px;
}

.mr_input {
    margin-bottom: 5px;
}

@media only screen and (max-width: 640px) {

    .leftpan {
        width: 100%;
        margin-bottom: 0px;
    }

    .panel ul li {
        width: 100%;
        margin-bottom: 10px
    }

    .panel.operator ul li, .panel.ammount ul li {
        width: 48%;
        margin: 0;
        margin-bottom: 4%;
    }

    .panel.operator ul li:nth-child(2n), .panel.ammount ul li:nth-child(2n) {
        margin-left: 4%;
    }

    .panelcontent {
        padding: 10px;
        float: left;
        width: 100%;
    }

    .panel {
        padding-bottom: 0;
        margin-bottom: 15px;
    }

    .leftpan h2 {

    }

    .panel h2 {

    }

    .panelcontent input[type=text], .panelcontent input[type=number] {
        width: 100%;
    }

    .panelcontent input[type=text]:nth-child(2), .panelcontent input[type=number]:nth-child(2) {
        margin-top: 10px
    }
}

@media only screen and (min-width: 1600px) {

}

@media only screen and (min-width: 1800px) {

}

@media print {
    .leftpan {
        width: 100%;
        margin: 0 auto
    }
}