@media (max-width: 1280px) {

	.brand-slider-inner .bs-left {
		top: 0;
		left: -30px;
	}

	.brand-slider-inner .bs-right {
		top: 0;
		right: -30px;
	}

}


@media (min-width : 768px) and (max-width: 1199px) {

	

}



@media (max-width: 991px) {
	
	.widget-content ul li,
	.widget-header {
		padding: 10px;
	}


	.brand-slider-inner .slider-cntrl {
		top :auto;
		left: 0;
		bottom: -40px;
	}

	.brand-slider-inner .bs-ctrl {
		position: static;
	}
	.brand-slider-inner .bs-right {
		right: 0
	}

	.brand-slider-inner .bs-left {
		left: 0
	}


}



@media (max-width : 768px) {
	
	

}



@media (max-width: 603px) {

	.bg-slider-content-wrap-inner {
		padding-top: 30px;
	}

	#bgSliderWrap img {
		min-height: 740px;
	}

	.single-feature {
    	text-align: center;
	}

	.slogan-section {
		margin-bottom: 30px;
	}


}



@media (max-width : 500px) {
	


}



@media (max-width : 370px) {
	
	.sl-title.title {
		font-size: 20px;
	}
	.note-sec ul li {
		font-size: 11px;
	}

	.feature-sidebar .sl-title.title {
		font-size: 22px;
	}


}